# Function Basics

**Functions in R have the following form**

In [108]:
name <- function(argument_1, argument_2){
  expression_1
  expression_2
  ...
  return(output)
}

  - `argument_1` and `argument_1` are the names of the variables suppied to the function
    
  - `expression_1`,`expression_2`, and `output` are expressions
    
  - `name` is the name of the functio, and will be called to action with `name(x, y)`
    
  - The result of the function will be `output`, which can be assigned to an object
  
If the function has only one line the curly braces can be left off (though not recommended). If `return()` is not used, the value returnd is the last expression in the function.

In [90]:
f <- function(x) x*x # no curly braces, x*x is the value returned
list(f) # a function can be put into a list

[[1]]
function(x) x*x

In [91]:
typeof(f) # the type is closure

[1] "closure"

In [92]:
mode(f) # the mode(f) is 'function'

[1] "function"

## Return values

**Explicit:** uses `return()` to explicitly return a value

In [93]:
f <- function(x){
    return(x*x)
}

**Implicit:** the value in the very last expression is returned. This is the recommended style.

In [94]:
f <- function(x){
    x*x
}

**Functions can only return one object:**

If we want a function to return more than one value, we must combine them into a single object using either vectors or list.

In [95]:
f <- function(x){
    c(x, x^2, x^3)
}
f(2)

[1] 2 4 8

**Return multiple values with a list:**

In [96]:
f <- function(x){
    list(x = x, square = x^2, cube = x^3)
}
f(2)

$x
[1] 2

$square
[1] 4

$cube
[1] 8

## Argument names

When defining a function we are also defining names for the arguments. When we call the function to use it we use these names to enter arguments.

**If you do not specify the argument names, R assumes you are putting them in order.**

In [97]:
f <- function(x, y, z){
    paste0("x = ", x, ", y = ", y, ", z = ", z)
}
f(1, 2, 3)

[1] "x = 1, y = 2, z = 3"

**When you call the function, you can specify the argument names and supply them in any order.**

In [98]:
f(z = 1, x = 2, y = 3)

[1] "x = 2, y = 3, z = 1"

**If you only specify the names of one or two arguments, R does its best to match them. If you give the name of argument that is not part of the function definition, R gives an error "unused argument".**

In [99]:
f(y = 2, 1, 3)

[1] "x = 1, y = 2, z = 3"

In [100]:
f(y = 2, 1, x=3)

[1] "x = 3, y = 2, z = 1"

In [101]:
f(1, 2, 3, m = 1)

ERROR: Error in f(1, 2, 3, m = 1): unused argument (m = 1)

## Arguments values are required

**R requires a value for any argument that is used inside the function.**

In the following code, I define a function with 4 arguments. Argument `w` how ever is not used anywhere in the code, while the other three arguments are. When R calls the function, it can operate without a value for `w`.

In [ ]:
f <- function(x, y, z, w){
    paste0("x = ", x, ", y = ", y, ", z = ", z)
}
f(1, 2, 3, 4) # w is provided the value 4, but is not used anywhere

In [ ]:
f(1, 2, 3) # w is note provided; it still runs.

In [ ]:
f <- function(x, y, z, w){
    paste0("x = ", x, ", y = ", y, ", z = ", z)
}
f(x = 1, y = 2, w = 4) # z is not provided. z is in the code. result: error

## Provide default values with the == sign

**To avoid the error of not having a value, you can provide default values for function arguments.**

In [ ]:
f <- function(x = 1, y = 1, z = 1){
    paste0("x = ", x, ", y = ", y, ", z = ", z)
}
f() # no values provided: uses all defaults

In [ ]:
f(2) # 2 gets plugged in for the first argument

In [ ]:
f(z = 3) # 3 gets plugged in for the argument z

- values created inside a function only exist inside the function.

- in general, you should not try to change values in the global environment from inside a function

- if you want to get a value 'out' of a function, it needs to be (part of) of the returned object.

In [103]:
x <- 10 # x is 10 in the global environment
f <- function(x){
    x <- x + 55 # we add 55 to x inside the function
    x
}
f(x) # we execute f(x). it returns 65

[1] 65

In [105]:
x # the value of x in the global environment is unchanged

[1] 10

**To save the value of a function, you must assign it.**

In [106]:
x <- f(x) # we assign the result of the function to x
x # x in the global environment is now 65

[1] 65

<https://youtu.be/y6219nR4buo?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=983>