# Programming Basics: Conditions & Loops

## Section 1: Operators that produce logical values
<https://www.youtube.com/watch?v=txnbvLp5v1A&list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&index=5>
### Vectorized Logical Operators

R has the following logical operators. Use of a logical operator will coerce non-logical types to logical type e.g. 0 becomes `FALSE`, **all other numeric** values become `TRUE`.

  - or: `x | y`

  - and: `x & y`

  - not: `!x`

  - exclusive or: `xor(x, y)`
  
The above logical operators are vectorized and will perform element-wise comparison as well as recycling. The vectorized operations will return a vector of logical values.

### Non-Vectorized Logical Operators

Non-vectorized operators will return only one logical value. If a vector with length > one is provided on either side of the operator, only the first element of the vector will be used.

  - non-vector or:  `x || y`
  
  - non-vector and: `x && y`
  
The "non-vector" `||` and `&&` evaluates left to right examining only the first element of each vector. This longer form is appropriate for programming control-flow and typically preferred in if clauses.

See `?base::Logic`

In [35]:
# Vectorized vs Non-Vectorized
x <- c(TRUE,  TRUE, FALSE, FALSE)
y <- c(FALSE, TRUE, FALSE, TRUE)

In [36]:
x | y

[1]  TRUE  TRUE FALSE  TRUE

In [37]:
x & y

[1] FALSE  TRUE FALSE FALSE

In [38]:
x || y # only looks at first element

[1] TRUE

In [39]:
x && y # only looks at first element

[1] FALSE

### Logical operators with NA

What is:

  - `TRUE | NA` ?
  
  - `TRUE & NA` ?
  
  - `FALSE || NA` ?
  
  - `FALSE && NA` ?

In [40]:
TRUE | NA # doesn't matter what's inside NA

[1] TRUE

In [41]:
TRUE & NA # depends on NA; if NA is TRUE then TRUE ; if NA is FALSE then FALSE

[1] NA

In [42]:
FALSE || NA # depends on NA

[1] NA

In [43]:
FALSE && NA # doesn't matter what's inside NA

[1] FALSE

### Exclusive Or

`xor()` indicates elementwise *exclusive OR*

  -  True if x or y is true, but not if both are true

That is, `xor(TRUE, TRUE)` is `FALSE`.

In [44]:
x <- c(TRUE,  TRUE, FALSE, FALSE,  NA,    NA, NA)
y <- c(FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, NA)
xor(x,y)

[1]  TRUE FALSE FALSE  TRUE    NA    NA    NA

### `any()` and `all()`

`any()` and `all()` are generalization of OR and AND for more than 2 values.

In [45]:
# example 1
u <- c(TRUE, TRUE, TRUE)

In [46]:
any(u)

[1] TRUE

In [47]:
all(u)

[1] TRUE

In [48]:
c(any(u), all(u))

[1] TRUE TRUE

In [49]:
# example 2
u <- c(TRUE, TRUE, FALSE)
c(any(u), all(u))

[1]  TRUE FALSE

In [50]:
# example 2
u <- c(FALSE, FALSE, FALSE)
c(any(u), all(u))

[1] FALSE FALSE

In [51]:
all(u)

[1] FALSE

#### Question

***If we add 0-length vector (like `logical(0)` or `NULL`) to a vector of logical values `v`, it should not affect the result of `any()` or `all()` applied to `v`.***

  - `any(logical(0), v)` should produce the same result as `any(v)`
  
  - `all(logical(0), v)` should produce the same result as `all(v)`
  
With these rules in mind:

1. What does `any(logical(0))` return?

2. What does `all(logical(0))` return?

In [52]:
# vector 1: x
x <- logical(0)
# vector 2: u
u <- c(TRUE, TRUE, TRUE)
# vector 3: v
v <- c(TRUE, TRUE, FALSE)
# vector 4: w
w <- c(FALSE, FALSE, FALSE)
########
# any()
#######
any(x)#???

[1] FALSE

In [53]:
c(any(u), any(x, u))

[1] TRUE TRUE

In [54]:
c(any(v), any(x, v))

[1] TRUE TRUE

In [55]:
c(any(w), any(x, w)) # if any(logical(0)) were TRUE, this would change

[1] FALSE FALSE

In [56]:
# vector 1: x
x <- logical(0)
# vector 2: u
u <- c(TRUE, TRUE, TRUE)
# vector 3: v
v <- c(TRUE, TRUE, FALSE)
# vector 4: w
w <- c(FALSE, FALSE, FALSE)

########
# all()
#######
all(x)#???

[1] TRUE

In [57]:
c(all(u), all(x, u))

[1] TRUE TRUE

In [58]:
c(all(v), all(x, v))

[1] FALSE FALSE

In [59]:
c(all(w), all(x, w))

[1] FALSE FALSE

Skipping slides 13, 14, and 15! Video ~ 11:33 to 14:39

## Section 2: Conditional Statements

<https://youtu.be/txnbvLp5v1A?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=890>

### Conditional Statement - `if`

Conditional execution of code blocks is achieved via `if()` statements.

`if(cond)`: 

  - The condition in an `if()` statement must be **a length-one logical vector that is not `NA`.**
  
  - Conditions of length greater than one are accepted with a warning, but only the first element is used. Other types are coerced to logical if possible.
  
  - If the condition results in `NA`, you will get an error: *"missing value where TRUE/FALSE needed"*
  
  - If the condition is length 0, you will get an error: *"argument is length zero."*
  
  - Curly braces {} are used to group the expressions that will run when the condition inside the if statement is `TRUE`. If there is only one expression to execute, the curly braces are optional.

#### Using `if()`

In [60]:
# Example 1
x <- c(1, 3)
1 %in% x

[1] TRUE

In [61]:
if (1 %in% x){
    print("Hello!")
}

[1] "Hello!"

In [62]:
# Example 2
x <- c(1, 3)
x >= 2

[1] FALSE  TRUE

In [63]:
if (x >= 2){ # sees only the first value, FALSE, and does not execute
    # we get a warning because the length of the logical vector > 1
    print("Hello again!")
}

Warning message in if (x >= 2) {:
"the condition has length > 1 and only the first element will be used"

In [64]:
if (x <= 2){ # sees only the first value, TRUE
    # executes with a warning because the length of the logical vector > 1
    print("Hello again!")
}

Warning message in if (x <= 2) {:
"the condition has length > 1 and only the first element will be used"

[1] "Hello again!"

In [65]:
# Example 3
x <- c(1, 3)
any(x >= 2) # if your logical vector has length > 1, you might use any/all

[1] TRUE

In [66]:
if (any(x >= 2)){
    print("Can you hear me now?")
}

[1] "Can you hear me now?"

#### `if()` errors on `NA`

<https://youtu.be/txnbvLp5v1A?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=1202>

In [67]:
x <- 1:3
if (x[5] >= 2){
    print("Will this work?")
}

ERROR: Error in if (x[5] >= 2) {: missing value where TRUE/FALSE needed

*"missing value where `TRUE/FALSE` needed"* is a very common error that you will run into.

You'will need to go through your code and see why something inside your statement is producing `NA` values.

#### `if()` errors on `logical(0)`

<https://youtu.be/txnbvLp5v1A?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=1284>

In [ ]:
x <- 1:3
which(x == 4) # returns integer(0)

In [ ]:
if (which(x == 4) == 4){
    print("Will this work?")
}

### Nesting Conditionals - `if`, `else if`, and `else` 

If you want to use an `else` statement:

  - there must be a preceding `if` statement
  - and you must use curly braces

The conditional inside an `else if` statement will only be evaluated:

  - if the starting `if` statement is `FALSE`
  
Make sure you put the else on the same line as the closing curly brace of the `if` statement, otherwise R will believe the `if` statment is complete.

In [ ]:
# Example 1
x <- 3

if (x < 3){
    print("Negative")
} else if (x > 0){
    print("Positive")
} else {
    print("Zero")
}

In [ ]:
# Example 2
x <- 0

if (x < 0){
    print("Negative")
} else if (x > 0){
    print("Positive")
} else {
    print("Zero")
}

In [ ]:
# Example 3
x <- 3

if (x > 0){
    print("Positive")
} else if (x > 0){ # will not be evaluated because the first if is TRUE
    print("Bigger than 1")
} else {
    print("Not positive")
}

#### `if()` is not vectorized, `ifelse()` vectorized

1. `if()` requires a logical vector of length-one. It is **not vectorized**. 

    - Functions that use an `if()` statement cannot be given a vector of values.
    
2. The function `ifelse` is **vectorized**. It requires three arguments:

     - a condition to test
     
     - the result if the condition is true
     
     - the result if the condition is false

In [ ]:
if (x == 5){
    n <- "yes"
} else{
    n <- "not"
}

In [ ]:
n

In [ ]:
# is reduced to

n <- ifelse(x == 5, "yes", "no")
n

## Section 3: Loops

The simplest and most common type of loop in R is the `for` loop. Given a vector (inlcuding list), it iterates through the elements and evaluates the code block for each element.

### For Loops

In [ ]:
for (x in 1:10){
    cat(x^2, " ", sep = "")
}

# Note: cat() converts its arguments to character strings, concatenates them,
# separating them by the given sep= string, and then prints them.

#### `for` loops can iterate through any vector

In [ ]:
# l is a list of three elements
l <- list(1:3, LETTERS[1:7], c(TRUE, FALSE)) 
l

In [ ]:
for (y in l){
    print(length(y))
}

In [ ]:
# Another example
library(datasets)
state.name[1:5]

In [ ]:
for(state in state.name[1:5]){
    cat(state, "has", nchar(state), "letters in its name.\n")
}

#### Storing Results

It is almost always better to create an object to store your results first, rather than growing the object as you go.

In [68]:
# Good

res <- rep(NA, 10^7) # create an object to store results

system.time(
    for (x in seq_along(res)){
        res[x] <- x^2
    }
)

# recall seq_along() function generates a sequence of the same length of the argument passed.

   user  system elapsed
   0.84    0.02    0.86

In [69]:
# Slower

res <- 0
system.time(
    for (x in 1:10^7){
        res[x] <- x^2 # each iteration requires that res be resized
    }
)

   user  system elapsed
   3.95    0.59    4.56

In [70]:
# Slowest

res <- c()
system.time(
    for (x in 1:10^5){ # we are only doing 1/100 of the work, but is slow
        res <- c(res, x^2) # each iteration copies res into a redefined res object
    }
)

   user  system elapsed
  19.42    0.35   23.18

### `while` Loops

Repeat until the given condition is not met (condition is `FALSE`)

In [71]:
i <- 1
res <- rep(NA, 10)
while (i <= 10){
    res[i] <- i^2
    i <- i + 1
}
res

 [1]   1   4   9  16  25  36  49  64  81 100

**Question:** What is the value of `i` when the code finishes?

In [72]:
i

[1] 11

### `repeat` Loops

Repeat until `break` is executed (condition is TRUE)

In [73]:
i <- 1
res <- rep(NA, 10)
repeat{
    res[i] <- i^2
    i <- i + 1
    if (i > 10){
        break
    }
}
res

 [1]   1   4   9  16  25  36  49  64  81 100

### Special keywords - `breaks` and `next`

- `break`: ends the current (inner-most) loop

- `next` - ends the current iteration and starts the next iteration

In [74]:
# break
for(i in 1:10){
    if (i %% 2 == 0){ # i is divisible by 2 then break
        break
    }
 cat(i, "")
}

1

In [75]:
# next
for(i in 1:10){
    if (i %% 2 == 0){ # i is divisible by 2 then next
        next
    }
 cat(i, "")
}

1 3 5 7 9

<https://youtu.be/txnbvLp5v1A?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=2563>

### `seq_len()` and `seq_along()`