In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [
    "XYZ Deposit 2020",
    "Cash Deposit",
    "ATM",
    "XYZ Fee 2021",
    "XYZ Deposit 2021"
]

In [10]:
# toy data
df = pd.DataFrame({
    'info':
    [
    "XYZ Deposit 2020",
    "Cash Deposit",
    "ATM",
    "XYZ Fee 2021",
    "XYZ Deposit 2021"
],
    'amount': np.arange(5)    
})
df

               info  amount
0  XYZ Deposit 2020       0
1      Cash Deposit       1
2               ATM       2
3      XYZ Fee 2021       3
4  XYZ Deposit 2021       4

In [15]:
df[df['info'].str.contains("XYZ")]

               info  amount
0  XYZ Deposit 2020       0
3      XYZ Fee 2021       3
4  XYZ Deposit 2021       4

In [ ]:
library(tidyverse)
# toy data
df <- tibble(
  info = c(
    "XYZ Deposit 2020",
    "Cash Deposit",
    "ATM",
    "XYZ Fee 2021",
    "XYZ Deposit 2021"
  ),
  amount = seq(1,5) - 1
)
df
# str_detect in action
df %>% 
  filter(str_detect(info, "XYZ"))