# Programming Basics: Conditions & Loops

## Section 1: Operators that produce logical values
<https://www.youtube.com/watch?v=txnbvLp5v1A&list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&index=5>
### Vectorized Logical Operators

R has the following logical operators. Use of a logical operator will coerce non-logical types to logical type e.g. 0 becomes `FALSE`, **all other numeric** values become `TRUE`.

  - or: `x | y`

  - and: `x & y`

  - not: `!x`

  - exclusive or: `xor(x, y)`
  
The above logical operators are vectorized and will perform element-wise comparison as well as recycling. The vectorized operations will return a vector of logical values.

### Non-Vectorized Logical Operators

Non-vectorized operators will return only one logical value. If a vector with length > one is provided on either side of the operator, only the first element of the vector will be used.

  - non-vector or:  `x || y`
  
  - non-vector and: `x && y`
  
The "non-vector" `||` and `&&` evaluates left to right examining only the first element of each vector. This longer form is appropriate for programming control-flow and typically preferred in if clauses.

See `?base::Logic`

In [71]:
# Vectorized vs Non-Vectorized
x <- c(TRUE,  TRUE, FALSE, FALSE)
y <- c(FALSE, TRUE, FALSE, TRUE)

In [72]:
x | y

[1]  TRUE  TRUE FALSE  TRUE

In [73]:
x & y

[1] FALSE  TRUE FALSE FALSE

In [74]:
x || y # only looks at first element

[1] TRUE

In [75]:
x && y # only looks at first element

[1] FALSE

### Logical operators with NA

What is:

  - `TRUE | NA` ?
  
  - `TRUE & NA` ?
  
  - `FALSE || NA` ?
  
  - `FALSE && NA` ?

In [76]:
TRUE | NA # doesn't matter what's inside NA

[1] TRUE

In [77]:
TRUE & NA # depends on NA; if NA is TRUE then TRUE ; if NA is FALSE then FALSE

[1] NA

In [78]:
FALSE || NA # depends on NA

[1] NA

In [79]:
FALSE && NA # doesn't matter what's inside NA

[1] FALSE

### Exclusive Or

`xor()` indicates elementwise *exclusive OR*

  -  True if x or y is true, but not if both are true

That is, `xor(TRUE, TRUE)` is `FALSE`.

In [80]:
x <- c(TRUE,  TRUE, FALSE, FALSE,  NA,    NA, NA)
y <- c(FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, NA)
xor(x,y)

[1]  TRUE FALSE FALSE  TRUE    NA    NA    NA

### `any()` and `all()`

`any()` and `all()` are generalization of OR and AND for more than 2 values.

In [81]:
# example 1
u <- c(TRUE, TRUE, TRUE)

In [82]:
any(u)

[1] TRUE

In [83]:
all(u)

[1] TRUE

In [84]:
c(any(u), all(u))

[1] TRUE TRUE

In [85]:
# example 2
u <- c(TRUE, TRUE, FALSE)
c(any(u), all(u))

[1]  TRUE FALSE

In [86]:
# example 2
u <- c(FALSE, FALSE, FALSE)
c(any(u), all(u))

[1] FALSE FALSE

In [87]:
all(u)

[1] FALSE

#### Question

***If we add 0-length vector (like `logical(0)` or `NULL`) to a vector of logical values `v`, it should not affect the result of `any()` or `all()` applied to `v`.***

  - `any(logical(0), v)` should produce the same result as `any(v)`
  
  - `all(logical(0), v)` should produce the same result as `all(v)`
  
With these rules in mind:

1. What does `any(logical(0))` return?

2. What does `all(logical(0))` return?

In [88]:
# vector 1: x
x <- logical(0)
# vector 2: u
u <- c(TRUE, TRUE, TRUE)
# vector 3: v
v <- c(TRUE, TRUE, FALSE)
# vector 4: w
w <- c(FALSE, FALSE, FALSE)
########
# any()
#######
any(x)#???

[1] FALSE

In [89]:
c(any(u), any(x, u))

[1] TRUE TRUE

In [90]:
c(any(v), any(x, v))

[1] TRUE TRUE

In [91]:
c(any(w), any(x, w)) # if any(logical(0)) were TRUE, this would change

[1] FALSE FALSE

In [92]:
# vector 1: x
x <- logical(0)
# vector 2: u
u <- c(TRUE, TRUE, TRUE)
# vector 3: v
v <- c(TRUE, TRUE, FALSE)
# vector 4: w
w <- c(FALSE, FALSE, FALSE)

########
# all()
#######
all(x)#???

[1] TRUE

In [93]:
c(all(u), all(x, u))

[1] TRUE TRUE

In [94]:
c(all(v), all(x, v))

[1] FALSE FALSE

In [95]:
c(all(w), all(x, w))

[1] FALSE FALSE

Skipping slides 13, 14, and 15! Video ~ 11:33 to 14:39

## Section 2: Conditional Statements

<https://youtu.be/txnbvLp5v1A?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=890>

### Conditional Statement - `if`

Conditional execution of code blocks is achieved via `if()` statements.

`if(cond)`: 

  - The condition in an `if()` statement must be **a length-one logical vector that is not `NA`.**
  
  - Conditions of length greater than one are accepted with a warning, but only the first element is used. Other types are coerced to logical if possible.
  
  - If the condition results in `NA`, you will get an error: *"missing value where TRUE/FALSE needed"*
  
  - If the condition is length 0, you will get an error: *"argument is length zero."*
  
  - Curly braces {} are used to group the expressions that will run when the condition inside the if statement is `TRUE`. If there is only one expression to execute, the curly braces are optional.

#### Using `if()`

In [96]:
# Example 1
x <- c(1, 3)
1 %in% x

[1] TRUE

In [97]:
if (1 %in% x){
    print("Hello!")
}

[1] "Hello!"

In [98]:
# Example 2
x <- c(1, 3)
x >= 2

[1] FALSE  TRUE

In [99]:
if (x >= 2){ # sees only the first value, FALSE, and does not execute
    # we get a warning because the length of the logical vector > 1
    print("Hello again!")
}

Warning message in if (x >= 2) {:
"the condition has length > 1 and only the first element will be used"

In [100]:
if (x <= 2){ # sees only the first value, TRUE
    # executes with a warning because the length of the logical vector > 1
    print("Hello again!")
}

Warning message in if (x <= 2) {:
"the condition has length > 1 and only the first element will be used"

[1] "Hello again!"

In [101]:
# Example 3
x <- c(1, 3)
any(x >= 2) # if your logical vector has length > 1, you might use any/all

[1] TRUE

In [102]:
if (any(x >= 2)){
    print("Can you hear me now?")
}

[1] "Can you hear me now?"

#### `if()` errors on `NA`

<https://youtu.be/txnbvLp5v1A?list=PLKR7271tMEmgsp83ZJPMr96xd-8fPq3p1&t=1202>